<!DOCTYPE html>
<html>
  <head>
    <title>Help Page</title>
      <link rel="stylesheet" href="/css/stg.css">
  </head>
  <body>
    <div class="body">
     <div class="main">
    <h1>
      {{>header}}</h1>
    </div>
    <div class="help">
      {{help}}
      <img src="/img/bg6.jpg" alt="">
    </div>
    <div class="footer">
      {{>footer}}
    </div>
    
  </body>
</html>
