<div class="main1">
  <h1>
    Weather
    <sup>
      <img src="/img/logo.png" alt="" />
    </sup>
  </h1>
</div>
<div class="menu">

  <a href="/">Weather</a>
  <a href="/about">About</a>
  <a href="/help">Help</a>

</div>